<div class="header-container"></div>
<div class="row network">
  <div class="col-md-3 web-service-list">
    <ul class="list-group"></ul>
  </div>
  <div class="col-md-9 service-details-container"></div>
</div>
