<div class="header form-inline">
  <button class="btn btn-primary btn-xs clear-log">clear</button>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" class="hide-envelope-body"> Hide Soap Envelope & Body
      </label>
    </div>
  </div>
</div>
