<div class="{{#if settings.useDarkTheme}}theme-dark{{/if}}">
  <div class="header-container"></div>
  <div class="row network">
    <div class="col-xs-3 web-service-list">
      <ul class="list-group"></ul>
    </div>
    <div class="col-xs-9 service-details-container"></div>
  </div>
</div>
