 /*
  |--------------------------------------------------------------------------
  | Base Theme Styles
  |--------------------------------------------------------------------------
  */

.theme-#{$theme-name} {

  .App > .row {
    background-color: $app-background-color;
  }

  // Header Styles
  .Header {
    background-color: $header-background-color;
    border-color: $border-color;
  }

  .Header .form-group {
    color: $header-font-color;
  }

  // Tab Variables
  .WebServiceDetails .nav-tabs {
    border-color: $border-color;
  }

  .WebServiceDetails .nav-tabs > li > a {
    color: $tab-font-color;
  }

  .WebServiceDetails .nav-tabs > li.active > a {
    background-color: $tab-active-background-color;
    color: $tab-active-font-color;
  }

  .WebServiceDetails .nav > li:not(.active) > a:focus,
  .WebServiceDetails .nav > li:not(.active) > a:hover {
    background-color: $tab-focus-background-color;
    color: $tab-focus-font-color;
  }

  // Service Details Variables
  .web-service-details-container {
    background-color: $sd-background-color;
  }

  .WebServiceDetails .service-detail {
    color: $sd-font-color;
  }

  // Service List Variables
  .web-service-list-container {
    border-color: $border-color;
  }

  .WebServiceList {
    background-color: $sl-background-color;
  }

  .WebServiceList .list-group-item {
    border-top: $sl-border;
    color: $sl-font-color;
  }

  .WebServiceList .list-group-item:not(.selected):hover {
    background-color: $sl-hover-color;
  }

  .WebServiceList .list-group-item:nth-child(2n) {
    background-color: $sl-even-background-color;
  }

  .WebServiceList .list-group-item:nth-child(2n+1) {
    background-color: $sl-odd-background-color;
  }

  .WebServiceList .list-group-item.selected {
    background-color: $sl-active-background-color;
    color: $sl-active-font-color;
  }

}
