<div class="service-details">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Request</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Response</a></li>
    <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">All</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Details</a></li>
  </ul>
  <div class="service-detail">
    <div>
      <h5>Request</h5>
      <div class="request-date"></div>
      <div class="request-xml"></div>
    </div>
    <div>
      <h5>Response</h5>
      <div class="response-date"></div>
      <div class="response-xml"></div>
    </div>
  </div>
</div>