<div class="service-details">
  <div>
    <h5>Request</h5>
    <div class="request-date"></div>
    <div class="request-xml"></div>
  </div>
  <div>
    <h5>Response</h5>
    <div class="response-date"></div>
    <div class="response-xml"></div>
  </div>
</div>