
.options .navbar {
  border-radius: 0;
  border: 0;
  color: #fff;
}

.options .content {
  padding: 0 20px 20px 20px;
}

.options .section {
  margin-bottom: 20px;
}

.options .section-title {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}

.options .navbar-brand {
  margin: 0;
}

.options .navbar-brand,
.options .navbar-brand:hover,
.options .navbar-brand:focus,
.options .navbar-brand:visited {
  color: #fff;
}